<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="/image/png" sizes="32x32" href="/images/logo.png">

    <link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

    <title>Zoey Qin Portfolio</title>

    <link rel="stylesheet" href="../public/css/styles.css">
  </head>
  <body>
    <main>
      <!-- ***********************  ABOUT / PROFILE  *********************** -->
      <header>
        <div class="content-wrap">
          <h1>Zoey Qin</h1>
          <h2>Frontend Web Developer</h2>
          <hr>
          <p>Aspiring full-stack web developer with the ability to learn new skills quickly.</p>
        </div>
      </header>

      <!-- ********************  PROJECTS / PORTFOLIO  ********************* -->
      <section class="projects">
        <h2>Featured Projects</h2>
        <p>Projects built with a wide range of frontend and backend stacks such as ReactJs, CSS, SCSS, HTML, Express, PSQL, and API.</p>

        <div class="project-box">
          <section>
              <h3>WeatherForecast</h3>
              <img src="../public/images/weather.png" alt="home page of WeatherForecast">
              <p>A weather search app built with ReactJS, SASS, Express, and OpenWeatherMap Weather API. A user should be able to specify the name of a city through the input field and the type of weather forecast (hourly or
              daily) through the drop down menu they want.</p>
              <form action="https://react-weatherforecast-app.herokuapp.com/" target="_blank">
                <input type="submit" value="View project">
              </form>
          </section>
          <section>
              <h3>NutriAdvisor</h3>
              <img src="../public/images/nutri-homepage.jpg" alt="home page of NutriAdvisor">
              <p>Designed and built a versatile app for people who want to achieve goals such as losing/maintaining/gaining weight and a healthy lifestyle with the help of coaches.</p>
              <form action="https://github.com/yq4103/nutriadvisor" target="_blank">
                <input type="submit" value="View project">
              </form>
            </section>
            <section>
              <h3>Listing Website</h3>
              <img src="../public/images/listing-homepage.png" alt="home page of Listing Website">
              <p>Designed and built a multipage listing website that sells couches and provides different features for users and admins.</p>
              <form action="https://github.com/yq4103/Listing_Website" target="_blank">
                <input type="submit" value="View project">
              </form>
          </section>
        </div>
        <!-- End of Project block. -->
      </section>

      <!-- ***********************  WORK EXPERIENCE  *********************** -->
      <section class="work">
        <div class="content-wrap">
          <!-- Copy this whole <section> block to add more jobs. -->
            <h2>Work Experience</h2>
            <div class="desktop-work">
              <section>
              <h3>Project Manager</h3>
              <p>Association for New Canadians</p>
              <p>Feb. 2019 – Jul. 2020</p>
              <p>
                One year experience working as a Project Manager at a immigrant service organization with proven abilities to implement project deliverables and obtain results ontime.
              </p>
            </section>
            <img src="../public/images/nosignal.png" alt="line break">
            <!-- Copy this whole <section> block to add more jobs. -->
              <section>
                <h3>Policy and Research Officer</h3>
                <p>Coalition of Persons with Disabilities</p>
                <p>Apr. 2018 – Feb. 2019</p>
                <p>
                  One year experience working as a Policy and Research Officer at a disability advocacy organization with strong knowledge of accessibility and universal design.
                </p>
              </section>
            </div>
        </div>
        <!-- End of Job block. -->
      </section>

      <!-- *****************  CONTACT INFO / SOCIAL MEDIA  ***************** -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>
          <!-- Social media and contact links. Add or remove any networks. -->
          <ul>
            <li><a href="mailto:yq4103@mun.ca"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li><a href="https://github.com/yq4103" target="_blank"><i class="fab fa-github-square fa-2x"></i></a></li>
            <li><a href="https://www.linkedin.com/in/yirongqin/" target="_blank">
              <i class="fab fa-linkedin fa-2x"></i>
            </a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>
</html>
